<h1>Articles#show</h1>
<p>Find me in app/views/articles/show.html.erb</p>


<h1><%= @article.name %></h1>
<div class="content">
<%= @article.content %>
</div>
<footer class="tags">
        <% @article.tag_list.each do |tag| %>
                <a href="/tags/<%= tag %>"><%= tag %></a>
        <% end %>
</footer>